!!!
%html
  %head
    %title= 'Das Vyruz Projekt'
    %link{ rel: 'stylesheet', href: '/screen.css' }

  %body
    %head
      %h1= 'Vyruz'

    %section.content
      = haml :navigation
      = yield

    %footer
      %p='© 2012 DASVYRUZPROJEKT. All Rights Reserved'
