%nav
  %ul
    - { "home" => "dvzpt", "about" => "epidemy", "gallery" => "mutations", "blog" => "news", "contact" => "infect" }.each do |item, subtitle|
      %li
        %a{ href: "/#{item}", class: is_current?("/#{item}") }
          = t item, scope: [:navigation]
          %span= t subtitle, scope: [:navigation, :subtitles]
